<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-gray w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>Internal<br>Referral<br>System</b></h3>
    </div>
    <div class="w3-bar-block">
        <a *ngIf="!currentUser" routerLink='/login' routerLinkActive="active" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a>
        <a routerLink="/home" routerLinkActive="active" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a *ngIf="isAdmin||isInsert " routerLink="/book" routerLinkActive="active" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Book Appointments</a>
        <a routerLink="/status" routerLinkActive="active" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Track Appointment Status</a>
        <a *ngIf="isAdmin||isUpdate " routerLink="/confirm" routerLinkActive="active" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Confirm Appointments</a>
        <a *ngIf="currentUser" (click)="logout()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-gray w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-gray w3-margin-right" onclick="w3_open()">☰</a>
    <span>Internal referral system</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <router-outlet></router-outlet>
    </div>

    <!-- Header -->
    <!-- End page content -->
</div>